.post-img
{
height: 200px;
overflow:hidden;
}
.post-img img
{
    width: 100%;
}
.blog-post-content h1{
    text-align: center;
}
.row
{
    display: flex;

}
.more-post
{
    display: flex;
    
  
    
}